spring:
  application:
    name: manwhas-api

  datasource:
    url: jdbc:postgresql://localhost:5432/manwhas_db
    username: manwhas_user
    password: "root1"          
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    
server:
  port: 8080

app: 
  jwt:
    secret: "SADASDASDASJKHJSADKJHAJKDHAJKDHAJKSDHJKGFHJASGDHJABDAHJDBASHJDGADHJAGSDHJAGDHJAGDHJAGDHJAGDHJAGDHJGAHJDGAHJDGAHJDGAHJDG"
    expiration-ms: 3600000
    

